@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Georgia';
    src: url('/fonts/Georgia.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Georgia Bold';
    src: url('/fonts/Georgia Bold.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura LT Bold';
    src: url('/fonts/Futura LT Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura LT Book';
    src: url('/fonts/Futura LT Book.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flex-box;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.map-container {
  width: 100%;
  height: 100%;
}
